/* COMMENT:Root and Initial Elements */
:root {
     --Header-footer-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
     --Body-font: "'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif";
}

@media screen {
     body {
          margin: 5% 5%;
     }
}

* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     list-style: none;
}

.underline {
     text-decoration: underline;
}

a {
     color: rgb(2, 158, 2);
}

/* COMMENT: Body Section*/
body {
     display: flex;
     flex-direction: column;
     font-family: var(--Body-font);
     border: 1px solid rgb(0, 0, 0);
     background-color: rgb(20, 23, 41);
     color: #a3a3a3;
}

/* COMMENT: Header with City Search */
header {
     display: flex;
     flex-direction: column;
     background-color: rgb(24, 24, 24);
     border: 1px solid rgb(255, 255, 255);
     align-items: center;
}

#instructionsP {
     text-align: justify;
     padding: 0 3em 1em 3em;
}

#instructionsSpan,
header h1 {
     color: rgb(49, 49, 255);
     font-weight: bolder;
     font-size: 1.5em;
}

#ISOwebsite {
     padding: 1em 0 1em 0;
}

header section {
     padding: 0 3em 1em 3em;
}

#cityInput input[type="text"] {
     max-width: 12em;
     margin-left: 0.2em;
}

#invalidEntry {
     color: rgb(0, 255, 13);
     font-size: 20px;
     font-weight: 900;
     text-align: justify;
     padding: 0.5em 0 0.5em 0;
}

header ul {
     padding: 0 0 1em 0;
}

.citySearch {
     display: flex;
     flex: 1 0 auto;
     flex-direction: row;
     align-items: center;
     text-align: center;
     padding: 1em 0 0.5em 0;
}

/* COMMENT: Search History */

.cityHistory {
     display: flex;
     flex-direction: column;
     flex-basis: 20%;
     align-items: center;
     background-color: rgb(24, 24, 24);
     border: 1px solid white;
     padding: 0.5em;
     min-width: 8em;
}

.cityHistory p {
     margin: 0 0 0.5em 0;
     padding: 1em 0.3em 0em 0.3em;
     cursor: pointer;
     display: flex;
     flex-direction: column;
     flex: 0 0 auto;
     justify-content: center;
     align-items: center;
     text-decoration: underline;
     color: rgb(2, 158, 2);
}

/* COMMENT: Main Section */
main {
     display: flex;
     flex-direction: row;
}

/* COMMENT: Weather Display Area */
.weatherCards {
     display: flex;
     flex: 1 1 100%;
     flex-direction: column;
     background-color: rgb(24, 24, 24);
     border: 1px solid white;
     min-height: 50em;
}

/* COMMENT: Current Condition Card and div*/
.currentDayDiv {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.currentDay {
     display: flex;
     flex-direction: column;
     flex: 0 0 auto;
     min-width: 8em;
     min-height: 10em;
     margin: 0.5em 0.5em;
     background-color: rgb(255, 255, 255);
     padding: 0.5em;
     justify-content: space-between;
     border: 0.5em solid #6c6c6f;
     border-radius: 1em;
     color: black;
}

.currentDay h4,
.currentDay img {
     display: flex;
     justify-content: center;
}

.currentDay img {
     height: 10em;
     width: 10em;
}

/* COMMENT: 5-day Weather Forecast Section */
.forecastCards {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
}

/* COMMENT: Individual Forecast Cards */
.dayForecast {
     display: flex;
     flex-direction: column;
     flex: 0 0 auto;
     min-width: 8em;
     min-height: 10em;
     margin: 0.5em 0.5em;
     background-color: white;
     padding: 0.5em;
     justify-content: space-between;
     border: 0.5em solid #6c6c6f;
     border-radius: 1em;
     color: black;
}

.dayForecast h4,
.dayForecast i {
     display: flex;
     justify-content: center;
}

/* COMMENT: Footer */
footer {
     display: flex;
     background-color: rgb(24, 24, 24);
     border: 1px solid white;
     min-height: 4em;
     justify-content: center;
     align-items: center;
}